### IntelliJ IDEA ###
.idea/*
*.iws
*.iml
*.ipr

# Sobelow
.sobelow*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Docker
/.bash_history

# Uploaded files
/uploads/*
/uploads_test/

# lefthook
lefthook.yml

# dependencies
/node_modules

# env files
.env